.error{
  transform: translateY( calc( var(--top) * -30px ) );
  position: fixed; bottom: 0; right: 0;
  background: #a5a5a5;
  padding: 7px 13px;
  font-weight: 900;
  cursor: pointer;
  margin: 10px;
}

.error_message{
  color: var(--error-color);
  font-size: 18px;
}
